<p id="notice"><%= notice %></p>

<p>
  <strong>Building type:</strong>
  <%= @quote.building_type %>
</p>

<p>
  <strong>Num apts:</strong>
  <%= @quote.num_apts %>
</p>

<p>
  <strong>Num floors:</strong>
  <%= @quote.num_floors %>
</p>

<p>
  <strong>Num base:</strong>
  <%= @quote.num_base %>
</p>

<p>
  <strong>Num comp:</strong>
  <%= @quote.num_comp %>
</p>

<p>
  <strong>Num park:</strong>
  <%= @quote.num_park %>
</p>

<p>
  <strong>Num elev:</strong>
  <%= @quote.num_elev %>
</p>

<p>
  <strong>Num corps:</strong>
  <%= @quote.num_corps %>
</p>

<p>
  <strong>Max occ:</strong>
  <%= @quote.max_occ %>
</p>

<p>
  <strong>B hours:</strong>
  <%= @quote.b_hours %>
</p>

<p>
  <strong>Product line:</strong>
  <%= @quote.product_line %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @quote.unit_price %>
</p>

<p>
  <strong>Elev cost:</strong>
  <%= @quote.elev_cost %>
</p>

<p>
  <strong>Install fee:</strong>
  <%= @quote.install_fee %>
</p>

<p>
  <strong>Total cost:</strong>
  <%= @quote.total_cost %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
