
<%= form_with(model: lead, local: true) do |form| %>
<!-- CONTACT -->
<div class="col-md-8 col-sm-8">

    <header class="text-center mb-60">
        <h2>Contact Us Today</h2>
        <hr />
    </header>

    <!-- Alert Success -->
    <div id="alert_success" class="alert alert-success mb-30">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Thank You!</strong> Your message successfully sent!
    </div>

    <!-- Alert Failed -->
    <div id="alert_failed" class="alert alert-danger mb-30">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>[SMTP] Error!</strong> Internal server error!
    </div>

    <!-- Alert Mandatory -->
    <div id="alert_mandatory" class="alert alert-danger mb-30">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Sorry!</strong> You need to complete all mandatory (*) fields!
    </div>

        <fieldset>
            <input type="hidden" name="action" value="contact_send" />

            <div class="row">
                    <div class="col-md-4">
                        <label for="name">Full Name *</label>
                        <%# <input id="name" required type="text" value="" class="form-control" name="contact[name][required]" %>
                        <%= form.text_field :full_name, class: "form-control" %>
                    </div>
                    <div class="col-md-4">
                        <label for="email">E-mail Address *</label>
                        <%# <input id="email" required type="email" value="" class="form-control" name="contact[email][required]"> %>
                        <%= form.text_field :email, class: "form-control" %>
                    </div>
                    <div class="col-md-4">
                        <label for="phone">Phone</label>
                        <%# <input id="phone" type="text" value="" class="form-control" name="contact[phone]"> %>
                        <%= form.text_field :phone, class: "form-control" %>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="company_name">Company Name *</label>
                    <%# <input id="name" required type="text" value="" class="form-control" name="contact[name][required]" %>
                    <%= form.text_field :company_name, class: "form-control" %>
                </div>
                <div class="col-md-6">
                    <label for="project_name">Project Name *</label>
                   <%# <input id="project_name" required type="text" value="" class="form-control" name="contact[name][required]"> %>
                    <%= form.text_field :project_name, class: "form-control" %>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-6">
                        <label for="project_description">Project Description *</label>
                        <%# <input id="project_description" required type="text" value="" class="form-control" name="contact[subject][required]"> %>
                        <%= form.text_field :project_description, class:"form-control" %>
                    </div>
                    <div class="col-md-6">
                        <label for="department">Department</label>
                        <%# <select id="department" class="form-control pointer" name="contact[department]"> %>
                        <%= form.select :department_in_charge_of_elevators, ['---Select---', 'Commercial', 'Residential'], class:"form-control pointer", name: "contact[department]", id: "department" %>
                           <%# <option value="">--- Select ---</option>
                            <option value="Marketing">Commercial</option>
                            <option value="Webdesign">Residential</option> 
                        </select> %>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                        <label for="message">Message *</label>
                        <%# <textarea id="message" required maxlength="10000" rows="8" class="form-control" name="contact[message]"></textarea> %>
                        <%= form.text_area :message, size: "70x5" %>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                        <label for="attachment">File Attachment</label>
                        <!-- custom file upload -->
                        <!-- <input id="attachment" class="custom-file-upload" type="file" name="contact[attachment]"  data-btn-text="Select a File" /> -->
                        
                        <label class="custom-file-upload">
                        Select a File
                        <span style="display:none;">
                          <%= form.file_field :attached_file_stored_as_binary, type:"file"%>
                        </span>
                      </label>
              
                        <small class="text-muted block">
                            Max file size: 10Mb (zip/pdf/jpg/png)
                        </small>
                    </div>
            </div>

        </fieldset>

        <div class="row">
            <div class="col-md-12">
                <%# <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-check"></i> SEND MESSAGE</button> %>
                <div class="actions">
                <%= form.submit %>
              </div>
            </div>
        </div>

</div>
<% end %>
<!-- /FORM -->
