<%= render "shared/navigation" %>


<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    
    <div class="overlay dark-6"></div>
        <div class="carousel-inner">
            
            <div class="carousel-item active text-center">
                <div class="carousel-caption d-none d-md-block" style="top: 300px" >
                    <h1 style="z-index: 1; color:#FFFF; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:rgb(0 0 0 / 30%) 3px 3px 5px; text-align:left"> Elevate Safety, Speed, & Style with Rocket Elevators. </h1>
                </div>
                
                <%= image_tag "rocketElevators/homeSlider1.jpeg", width: "1375", height:"650", alt:"First Slide"%>
    
                <div class="carousel-caption d-none d-md-block" style="text-align: left; padding: 5px 5px 5px 5px; top:500px">
                    <%= link_to 'REQUEST QUOTE', quotes_path, class:"btn btn-outline-primary btn-lg", style: "color: white;"%>
                    <a class="btn btn-primary btn-lg" href="#services" style="color: white;">OUR SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
                </div>
            </div>

            <div class="carousel-item text-center">
                <div class="carousel-caption d-none d-md-block" style="top: 300px" >
                    <h1 style="z-index: 1; color:#FFFF; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:rgb(0 0 0 / 30%) 3px 3px 5px; text-align:left; margin-bottom:20px;"> Residential Building Services </h1>
                    <h5 style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;text-align:left"> Check out our <b><em>residential building</em></b> services promotion! </h5>
                </div>

                <%= image_tag "rocketElevators/homeSliderResidential.jpeg", width: "1375", height:"650" %>
                
                <div class="carousel-caption d-none d-md-block" style="text-align: left; padding: 5px 5px 5px 5px; top:500px">
                    <%= link_to "SEE DETAILS", residential_path, class: "btn btn-primary btn-lg", style: "color: white;"%>
                </div>

            </div>  

            <div class="carousel-item text-center">
                <div class="carousel-caption d-none d-md-block" style="top: 300px" >
                    <h1 style="z-index: 1; color:#FFFF; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:rgb(0 0 0 / 30%) 3px 3px 5px; text-align:left; margin-bottom:20px;"> Commercial Building Services </h1>
                    <h5 style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;text-align:left"> Check out our <b><em>commercial building</em></b> services promotion! </h5>
                </div>

                <%= image_tag "rocketElevators/comPortfolio5.jpeg", width: "1375", height:"650" %>
                
                <div class="carousel-caption d-none d-md-block" style="text-align: left; padding: 5px 5px 5px 5px; top:500px">
                    <%= link_to "SEE DETAILS", commercial_path, class: "btn btn-primary btn-lg", style: "color: white;"%>
                </div>

            </div>  

        </div>      


    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    
</div>

<hr class="m-0" />

<!-- SERVICES -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <%= image_tag "rocketElevators/award.png", class: "img-fluid" %>
                <h3 class="mt-10">Awards & Portfolio</h3>
                <p>Our commitment to deliver the best <br/> 
                    products & services is nationally & internationally recognized.</p>
                <%= link_to "SEE DETAILS", root_path(anchor: "portfolio"), class: "btn btn-primary", style: "color: white;"%>
            </div>
            <div class="col-sm-4">
                <%= image_tag "rocketElevators/residential.jpeg", class: "img-fluid"%>
                <h3 class="mt-10">Residential Buildings</h3>
                <p> We provide products & services for  <br/> 
                    residential buildings, including low-/ <br/> 
                    high-rise buildings, condos, & more!
                </p>
                <%= link_to "SEE DETAILS", residential_path, class: "btn btn-primary", style: "color: white;"%>
            </div>
            <div class="col-sm-4">
                <%= image_tag "rocketElevators/corporate.jpeg", class: "img-fluid"%>
                <h3 class="mt-10">Commercial Buildings</h3>
                <p> We provide products & services for  <br/> 
                    residential buildings, including hotels, <br/> 
                    corporate towers, hospitals & more!
                </p>
                <%= link_to "SEE DETAILS", commercial_path, class: "btn btn-primary", style: "color: white;"%>
            </div>
        </div>
    </div>
</section>
<!-- / SERVICES -->


<!-- BANNER -->
<section class="parallax parallax-1" style="background-image: url(<%= asset_path "rocketElevators/businessSince.jpeg" %>)">
    <div class="overlay dark-7"><!-- dark overlay [1 to 9 opacity] --></div>
    <div class="container">
        <div class="text-center">
            <h2 class="fs-40 fw-300"><strong>Elevating Innovation, Safety, & Style since 1976</strong></h2>
            <%= link_to 'REQUEST QUOTE', quotes_path, class:"btn btn-outline-primary btn-lg" %>
            &nbsp; OR &nbsp; 
            <a class="btn btn-outline-danger btn-lg" href="#contact">CONTACT US</a>
        </div>
    </div>
</section>
<!-- BANNER -->


<!-- PORTFOLIO -->
<section id="portfolio">
    <!-- Navigator -->
    <div class="container">
        <div class="heading-title heading-dotted text-center">
            <h2>Company Highlights</h2>
        </div>
        <div class="text-center">
            <ul class="nav nav-pills mix-filter mb-60">
                <li data-filter="all" class="filter active"><a href="#">All</a></li>
                <li data-filter="residential" class="filter"><a href="#">Residential</a></li>
                <li data-filter="residential" class="filter"><a href="#">Residential</a></li>
                <li data-filter="commercial" class="filter"><a href="#">Commercial</a></li>
                <li data-filter="awards" class="filter"><a href="#">Awards</a></li>
            </ul>
        </div>
    </div>
    <!-- Items -->
    <div class="container">
        <div id="portfolio" class="portfolio-nogutter">
            <div class="row mix-grid">

                <div class="col-md-3 col-sm-3 mix commercial">
                    <div class="item-box">
                        <figure> 
                            <%= image_tag "rocketElevators/comPortfolio5.jpeg", class: "img-fluid", alt:"", width: "600", height:"399"%>
                        </figure>
                        <div class="item-box-desc">
                            <h3>Fastest Elevator</h3>
                            <ul class="list-inline categories m-0">
                                <li><%= link_to "Commercial", commercial_path %></li>
                                <li>Elevate-U Tower</li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-md-3 col-sm-3 mix commercial">
                    <div class="item-box">
                        <figure>
                            <%= image_tag "rocketElevators/comPortfolio4.jpeg", class: "img-fluid", alt:"", width: "600", height:"399"%>
                        </figure>
                        <div class="item-box-desc">
                            <h3>1500lb Capacity Elevator</h3>
                            <ul class="list-inline categories m-0">
                                <li><%= link_to "Commercial", commercial_path %></li>
                                <li>The Hulk Warehouse</li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-md-3 col-sm-3 mix commercial">
                    <div class="item-box">
                        <figure>
                             <%= image_tag "rocketElevators/comPortfolio6.jpeg", class: "img-fluid", alt:"", width: "600", height:"399"%>
                        </figure>
                        <div class="item-box-desc">
                            <h3>Smart Elevators</h3>
                            <ul class="list-inline categories m-0">
                                <li><%= link_to "Commercial", commercial_path %></li>
                                <li>Apple Inc.</li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-md-3 col-sm-3 mix commercial">
                    <div class="item-box">
                        <figure>
                            <%= image_tag "rocketElevators/comPortfolio2.jpeg", class: "img-fluid", alt:"", width: "600", height:"399"%>
                        </figure>
                        <div class="item-box-desc">
                            <h3>Futuristic Design</h3>
                            <ul class="list-inline categories m-0">
                                <li><%= link_to "Commercial", commercial_path %></li>
                                <li>NASA HQ</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 mix awards">
                    <div class="item-box">
                        <figure>
                             <%= image_tag "rocketElevators/award5.jpg", class: "img-fluid", alt:"", width: "600", height:"399"%>
                        </figure>

                        <div class="item-box-desc">
                            <h3>1st Place for Diversity & Inclusion</h3>
                            <ul class="list-inline categories m-0">
                                <li>Awards</li>
                                <li><a href="https://www.corporatevision-news.com/awards/global-business-awards/">Global Business Awards</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 mix awards">
                    <div class="item-box">
                        <figure>
                            <%= image_tag "rocketElevators/award4.jpg", class: "img-fluid", alt:"", width: "600", height:"399"%> 
                        </figure>
                        <div class="item-box-desc">
                            <h3>1st Place for Green Sustainability</h3>
                            <ul class="list-inline categories m-0">
                                <li>Awards</li>
                                <li><a href="https://www.businessgreen.com/tag/businessgreen-leaders-awards">BusinessGreen Leaders Awards</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 mix awards">
                    <div class="item-box">
                        <figure>
                            <%= image_tag "rocketElevators/award3.jpg", class: "img-fluid", alt:"", width: "600", height:"399"%>
                        </figure>
                        <div class="item-box-desc">
                            <h3>Leading Canadian Business</h3>
                            <ul class="list-inline categories m-0">
                                <li>Awards</li>
                                <li><a href="https://www.smeawards.ca/">CanadianSME</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 mix awards">
                    <div class="item-box">
                        <figure>
                            <%= image_tag "rocketElevators/award1.png", class: "img-fluid", alt:"", width: "600", height:"399"%>
                        </figure>
                        <div class="item-box-desc">
                            <h3>Frontiers of Innovation</h3>
                            <ul class="list-inline categories m-0">
                                <li>Awards</li>
                                <li><a href="https://www.businessinsurance.com/">
                                    Business Insurance Innovation Awards
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 mix residential">
                    <div class="item-box">
                        <figure>
                            <%= image_tag "rocketElevators/resPortfolio3.jpeg", class: "img-fluid", alt:"", width: "600", height:"399"%>
                        </figure>
                        <div class="item-box-desc">
                            <h3>Secure Elevators</h3>
                            <ul class="list-inline categories m-0">
                                <li><%= link_to "Residential", residential_path %></li>
                                <li>Hope LTC Center</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 mix residential">
                    <div class="item-box">
                        <figure>
                            <%= image_tag "rocketElevators/resPortfolio4.jpeg", class: "img-fluid", alt:"", width: "600", height:"399"%>
                        </figure>
                        <div class="item-box-desc">
                            <h3>Minimalistic Design</h3>
                            <ul class="list-inline categories m-0">
                                <li><%= link_to "Residential", residential_path %></li>
                                <li>Resident Nine-Nine</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 mix residential">
                    <div class="item-box">
                        <figure>
                            <%= image_tag "rocketElevators/resPortfolio4.jpeg", class: "img-fluid", alt:"", width: "600", height:"399"%>
                        </figure>
                        <div class="item-box-desc">
                            <h3>Back-to-Basics Elevators</h3>
                            <ul class="list-inline categories m-0">
                                <li><a href="residential.html">Residential</a></li>
                                <li>Home of MTL</li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-md-3 col-sm-3 mix residential">
                    <div class="item-box">
                        <figure>
                            <%= image_tag "rocketElevators/resPortfolio8.png", class: "img-fluid", alt:"", width: "600", height:"399"%>
                        </figure>
                        <div class="item-box-desc">
                            <h3>Custom Home Elevators</h3>
                            <ul class="list-inline categories m-0">
                                <li><%= link_to "Residential", residential_path %></li>
                                <li><a href="">Silicon Valley</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- /PORTFOLIO -->


<!-- TEAM -->
<section id="team" class="section-xs dark">
    <div class="container">
        <div class="owl-carousel text-center owl-testimonial m-0" data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>

            <div id="CEO" class="testimonial">
                <figure>
                    <%= image_tag "rocketElevators/CEO.jpg", class: "rounded", alt:""%>
                </figure>
                <div class="testimonial-content p-0">
                    <h4>PERRY SAWATZKY<br /></h4>
                    <cite>                                    
                        CEO
                        <span>Rocket Elevators</span>
                    </cite>
                </div>
            </div>
            <div id="employee" class="testimonial">
                <figure>
                    <%= image_tag "rocketElevators/employee-of-the-month.jpg", class: "rounded", alt:""%>
                </figure>
                <div class="testimonial-content p-0">
                    <h4>FELICIA HARTONO<br /></h4>
                    <cite>
                        Employee of the Month
                        <span>Rocket Elevators</span>
                    </cite>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- /TEAM -->

<!-- NEWS -->
<section id="news">
    <div class="container">

        <div class="heading-title heading-dotted text-center">
            <h2>Latest News & Press Releases</h2>
        </div>

        <div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>

            <div class="img-hover img-crop">
                <a href="https://www.birminghammail.co.uk/news/midlands-news/skyline-views-inside-designer-city-22876574">
                    <%= image_tag "rocketElevators/news3.jpg", class: "img-fluid"%>
                </a>
                <h4 class="text-left mt-20"><a href="https://www.birminghammail.co.uk/news/midlands-news/skyline-views-inside-designer-city-22876574">Private Elevator to <br/> 37th Floor</a></h4>
                <p class="text-left">The duplex two bedroom property is situated at top of Beetham Tower, with a luxurious lift by <strong>Rocket Elevators</strong>.</p>
                <ul class="text-left fs-12 list-inline list-separator">
                    <li>
                        <i class="fa fa-calendar"></i> 
                        26th Jan 2022
                    </li>
                </ul>
            </div>

            <div class="img-hover img-crop">
                <a href="https://www.propmodo.com/how-9-11-changed-elevator-evacuation-technology-and-high-rise-building-safety/">
                    <%= image_tag "rocketElevators/news4.jpg", class: "img-fluid"%>
                </a>
                <h4 class="text-left mt-20"><a href="https://www.propmodo.com/how-9-11-changed-elevator-evacuation-technology-and-high-rise-building-safety/">Elevating Evacuation Technology</a></h4>
                <p class="text-left">Experts believe that <strong>Rocket Elevators'</strong> top-notch safety features is the key to fast & efficient evacuations in skyscrapers.
                </p>
                <ul class="text-left fs-12 list-inline list-separator">
                    <li>
                        <i class="fa fa-calendar"></i> 
                        26th Jan 2022
                    </li>
                </ul>
            </div>


            <div class="img-hover img-crop">
                    <a href="https://www.blogto.com/real-estate-toronto/2022/01/construction-one-torontos-tallest-towers/">
                    <%= image_tag "rocketElevators/news2.jpg", class: "img-fluid"%>
                    </a>
                <h4 class="text-left mt-20"><a href="https://www.blogto.com/real-estate-toronto/2022/01/construction-one-torontos-tallest-towers/">Toronto's Tallest Towers <br/> New Design</a></h4>
                <p class="text-left">The 85-storey condominium tower has undergone a redesign, with <strong>Rocket Elevators'</strong> products as its hallmark design.</p>
                <ul class="text-left fs-12 list-inline list-separator">
                    <li>
                        <i class="fa fa-calendar"></i> 
                        25th Jan 2022
                    </li>
                </ul>
            </div>


            <div class="img-hover img-crop">
                <a href="https://www.slashgear.com/is-a-space-elevator-possible-using-todays-technology-24708424/">
                    <%= image_tag "rocketElevators/news1.jpg", class: "img-fluid"%>
                </a>
                <h4 class="text-left mt-20"><a href="https://www.slashgear.com/is-a-space-elevator-possible-using-todays-technology-24708424/">A Step Closer to <br/> Space Elevator
                </a></h4>
                <p class="text-left">Space elevators is no longer just a staple of science fiction. <strong>Rocket Elevators</strong> is one step closer to realizing it.</p>
                <ul class="text-left fs-12 list-inline list-separator">
                    <li>
                        <i class="fa fa-calendar"></i> 
                        24th Jan 2022
                    </li>
                </ul>
            </div>

            
            <div class="img-hover img-crop">
                <a href="https://www.thetimes.co.uk/article/how-install-lift-your-home-renovations-explained-x86k9ztl2">
                    <%= image_tag "rocketElevators/news6.jpg", class: "img-fluid"%>
                </a>
                <h4 class="text-left mt-20"><a href="https://www.thetimes.co.uk/article/how-install-lift-your-home-renovations-explained-x86k9ztl2">
                    Installing Home Lift<br/>with Rocket Elevators
                </a></h4>
                <p class="text-left"><em>“Not only does <strong>Rocket Elevators'</strong> lift make a home more accessible, especially if you are elderly, it opens up a difficult-to-reach part of the house, such as the attic.”</em></p>
                <ul class="text-left fs-12 list-inline list-separator">
                    <li>
                        <i class="fa fa-calendar"></i> 
                        14th Jan 2022
                    </li>
                </ul>
            </div>

            <div class="img-hover img-crop">
                <a href="https://www.propmodo.com/new-elevator-tech-a-big-help-for-those-with-disabilities/">
                    <%= image_tag "rocketElevators/news5.jpg", class: "img-fluid"%>
                </a>
                <h4 class="text-left mt-20"><a href="https://www.propmodo.com/new-elevator-tech-a-big-help-for-those-with-disabilities/">New Elevator Tech <br/> Improves Accessibility</a></h4>
                <p class="text-left">Beyond its vital function as an emergency systems, <strong>Rocket Elevators'</strong> interactive touch panels can display entertainment, news feeds, & systems monitoring.</p>
                <ul class="text-left fs-12 list-inline list-separator">
                    <li>
                        <i class="fa fa-calendar"></i> 
                        18th Nov 2021
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>
<!-- /NEWS -->

<!-- CLIENTS -->
<section id="clients" class="alternate">
    <div class="container">
        <div class="heading-title heading-dotted text-center">
            <h2>Our Valued Clients</h2>
        </div>

        <ul class="row clients-dotted list-inline">
            <li class="col-md-3 col-sm-3 col-6">
                <div class="logo-crop">
                    <%= image_tag "rocketElevators/cust1.png", class: "img-fluid"%>
                <div>
            </li>
            <li class="col-md-3 col-sm-3 col-6">
                <div class="logo-crop">
                        <%= image_tag "rocketElevators/cust3.png", class: "img-fluid"%>
                <div>
            </li>
            <li class="col-md-3 col-sm-3 col-6">
                <a href="#">
                    <%= image_tag "rocketElevators/cust4.png", class: "img-fluid"%>
                </a>
            </li>
            <li class="col-md-3 col-sm-3 col-6">
                <div class="logo-crop">
                    <%= image_tag "rocketElevators/cust5.png", class: "img-fluid"%>
                <div>
            </li>
            <li class="col-md-3 col-sm-3 col-6">
                <div class="logo-crop">
                    <%= image_tag "rocketElevators/cust13.png", class: "img-fluid" %>
                <div>
            </li>
            <li class="col-md-3 col-sm-3 col-6">
                <div class="logo-crop">
                    <%= image_tag "rocketElevators/cust7.png", class: "img-fluid"%> 
                </div>
            </li>
            <li class="col-md-3 col-sm-3 col-6">
                <div class="logo-crop">
                    <%= image_tag "rocketElevators/cust8.png", class: "img-fluid"%>
                </div>
            </li>
            <li class="col-md-3 col-sm-3 col-6">
                <div class="logo-crop">
                    <%= image_tag "rocketElevators/cust9.png", class: "img-fluid"%>
                </div>
            </li>
            <li class="col-md-3 col-sm-3 col-6">
                <div class="logo-crop">
                    <%= image_tag "rocketElevators/cust11.png", class: "img-fluid"%>
                </div>
            </li>
            <li class="col-md-3 col-sm-3 col-6">
                <div class="logo-crop">
                    <%= image_tag "rocketElevators/cust10.png", class: "img-fluid"%>
                </div>
            </li>
            <li class="col-md-3 col-sm-3 col-6">
                <div class="logo-crop">
                    <%= image_tag "rocketElevators/cust12.png", class: "img-fluid"%>
                </div>
            </li>
            <li class="col-md-3 col-sm-3 col-6">
                <div class="logo-crop">
                    <%= image_tag "rocketElevators/cust2.png", class: "img-fluid"%>
                </div>
            </li>
        </ul>

    </div>
</section>
<!-- /CLIENTS -->

<!-- CONTACT -->
<section id="contact">
    <div class="container">
        <div class="row">
            <!-- FORM -->
            <div class="col-md-8 col-sm-8">
                <%= render 'leads/form', lead: @lead %>
            </div>

            <!-- INFO -->
            <div class="col-md-4 col-sm-4" style="padding-left: 5%">

                <header class="text-center mb-60">
                    <h2>Visit Us</h2>
                    <hr />
                </header>
                <%= image_tag "rocketElevators/map.jpg", class: "img-fluid"%>
            
                <p style="padding-top: 10%">
                    <span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> 4468 Wellington St Suite 204, Verdun, Quebec H4G 1W5</span>
                    <span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:418-555-1234">(418) 555-1234</a></span>
                    <span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:info@codeboxx.biz">info@codeboxx.biz</a></span>
                    <span class="block"><strong>
                        <i class="fa fa-clock-o" aria-hidden="true"></i> 
                        Business Hours:
                    </strong></span>
                    <span class="block"> 
                        <ul>
                            <li>Monday: 9:00 - 17:00</li>
                            <li>Tuesday: 9:00 - 17:00</li>
                            <li>Wednesday: 9:00 - 17:00</li>
                            <li>Thursday: 9:00 - 17:00</li>
                            <li>Friday: 9:00 - 17:00</li>
                            <li>Saturday: 12:00 - 17:00</li>
                        </ul>
                    </span>
                </p>
            </div>
            <!-- /INFO -->

        </div>
    </div>
</section>
<!-- /CONTACT -->

<%= render "shared/footer" %>
