<%= render "shared/navigation" %>

<!-- PAGE HEADER BREADCRUMBS -->
<section class="page-header page-header-xs parallax parallax-3" style="background-image: url(<%= asset_path "rocketElevators/imgpattern2.jpg" %>)">
    <div class="overlay dark-2"></div>
    <div class="container">
        <h1><strong>RESIDENTIAL SERVICES</strong></h1>
        <!-- breadcrumbs -->
        <ol class="breadcrumb">
            <li> <%= link_to "HOME", root_path %></li>
            <li><%= link_to "Services", root_path(anchor: 'services') %></li>
            <li class="active">Residential</p></li>
        </ol>
        <!-- /breadcrumbs -->
    </div>
</section>
<!-- /PAGE HEADER BREADCRUMS -->


<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active text-center">
            <%# <img class="d-block w-100" src="..." alt="First slide"> %>
            <%= image_tag "rocketElevators/resPortfolio1.jpeg", width: "1375", height:"550"%>
        </div>
        <div class="carousel-item text-center">
            <%# <img class="d-block w-100" src="..." alt="Second slide"> %>
            <%= image_tag "rocketElevators/resPortfolio4.jpeg", width: "1375", height:"550" %>
        </div>
        <div class="carousel-item text-center">
            <%# <img class="d-block w-100" src="..." alt="Third slide"> %>
            <%= image_tag "rocketElevators/resPortfolio7.jpg", width: "1375", height:"550" %>
        </div>
        <div class="carousel-item text-center">
            <%# <img class="d-block w-100" src="..." alt="fourt slide"> %>
            <%= image_tag "rocketElevators/resPortfolio8.png", width: "1375", height:"550" %>
        </div>
        <div class="carousel-item text-center">
            <%# <img class="d-block w-100" src="..." alt="fifth slide"> %>
            <%= image_tag "rocketElevators/resPortfolio9.jpg", width: "1375", height:"550" %>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<!-- BUSINESS MODEL -->
<section id="business-model">

    <div class="container">
        <h2 class="m-0">What we deliver since <span style="color: rgb(170, 69, 69)">1976</span>...</h2>
        <p>
            ... and why we are trusted by our clients.
        </p>

        <div class="row">
            <div class="col-md-3 col-6">
                <div class="text-center">
                    <i class="ico-light ico-lg ico-rounded ico-hover fa fa-wrench"></i>
                    <h4>24/7 Customer Support</h4>
                    <p>We are one phone call away. We are always ready to answer any questions, provide maintainance, repair services, and many more! </p>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="text-center">
                    <i class="ico-light ico-lg ico-rounded ico-hover fa fa-lightbulb-o"></i>
                    <h4>Innovative Design</h4>
                    <p>Our team is consisted of top-tier designers and architects ready to provide creative, innovative, and unique solutions.</p>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="text-center">
                    <i class="ico-light ico-lg ico-rounded ico-hover fa fa-puzzle-piece"></i>
                    <h4>Custom Features</h4>
                    <p>Every building deserves a special touch. We work closely with our clients to deliver what is best for them.</p>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="text-center">
                    <i class="ico-light ico-lg ico-rounded ico-hover fa fa-shield"></i>
                    <h4>Enhanced Safety</h4>
                    <p>Your safety is our priority, and we take it to the next level. Our highly-experienced engineers have developed state-of-the-art safety features to our elevators.</p>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- /BUSINESS MODEL -->


<!-- PARALLAX -->
<section class="parallax parallax-1" style="background-image: url(<%= asset_path "rocketElevators/businessSince.jpeg" %>)">

    <div class="overlay dark-7"></div>
    <div class="container text-center">
        <div class="text-center">
            <h3>Contact us now & get <span class="countTo" data-speed="1000" style="color: #fff">15</span>% discount</br> of your first purchase!</h3>
            <p class="font-lato fs-20">
                * Offer valid until the Febuary 20th, 2022.
            </p>
            <%= link_to "CONTACT US", root_path(anchor: 'contact'), class:"btn btn-outline-primary btn-lg mt-30" %>
        </div>
    </div>
</section>
<!-- /PARALLAX -->


<!-- TESTIMONIAL -->
<section id="rt-testimonial">
    <div class="container" >
        <div class="row">
            <h2 class="m-0" style="padding-bottom: 1%;"><span style="color:rgb(170, 69, 69)">Still not convinced?</span> Hear what our clients have to say:</h2>
            <section class="alternate" style="border-bottom-color:rgb(255,255,255)">
                <div class="container">
                    <div class="row" style="text-align: center;">
                        <div class="col-md-4" >
                            <div class="heading-title heading-border-bottom heading-color" style="border-bottom-color:rgb(10, 101, 160); border-bottom-width: 3px">
                                <h3><em>"Just What I was<br> Looking For!"</em></h3>
                            </div>
                            <p>"It's simly marvelous! Just what I was looking for. I have gotten at least 50 times the value from Rocket Elevators. Rocket Elevators is the most valuable business resource my husband and I ever purchased."
                            </p>
                            <div class="testimonial">
                                <figure>
                                    <%= image_tag "rocketElevators/testi1.jpg", class:"rounded" %>
                                </figure>
                                <cite>                                    
                                    Hillary Clinton
                                    <span>Former United States Secretary of State</span>
                                </cite>
                            </div>

                        </div>

                        <div class="col-md-4">
                            <div class="heading-title heading-border-bottom heading-color" style="border-bottom-color:rgb(10, 101, 160); border-bottom-width: 3px">
                                <h3><em>"The Only Elevator <br> that Works for Hulk!"</em></h3>
                            </div>
                            <p>"Highly recommended! Without Rocket Elevators, Stark Tower isn't Stark Tower. You certainly won't beat elevators that can lift Thor's hammer and Hulk!"
                            </p>
                            <div class="testimonial">
                                <figure>
                                    <%= image_tag "rocketElevators/testi2.jpg", class:"rounded" %>
                                </figure>
                                <cite>                                    
                                    Tony Stark
                                    <span>Iron Man & Avengers</span>
                                </cite>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="heading-title heading-border-bottom heading-color" style="border-bottom-color:rgb(10, 101, 160); border-bottom-width: 3px">
                                <h3><em>"Don't Forget to <br> Share on Facebook!"</em></h3>
                            </div>
                            <p>"Rocket Elevators is the real deal! It's the best way to level-up your house. Don't forget to spread the word and share the company's page on Facebook! "
                            </p>
                            <div class="testimonial">
                                <figure>
                                    <%= image_tag "rocketElevators/testi3.jpg", class:"rounded" %>
                                </figure>
                                <cite>                                    
                                    Mark Zuckerberg
                                    <span>CEO of Facebook</span>
                                </cite>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<!-- /TESTIMONIAL -->

<%= render "shared/footer" %>