<!DOCTYPE html>
<html>
  <head>
    <title>Rocket Elevators</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# TODO: 
    <%# <%= link_to "", image_tag "icon.png", type: "image/png", rel:"shortcut icon" %> 
    <%# <link rel="shortcut icon" type="image/png" href="assets/images/rocketElevators/icon.png"> %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'jquery/jquery-3.3.1.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "bootstrap/js/bootstrap.min" %>

    <!-- REVOLUTION SLIDER -->
    <%= javascript_include_tag 'slider.revolution/js/jquery.themepunch.revolution.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'slider.revolution/js/jquery.themepunch.tools.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'view/demo.revolution_slider.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'owl-carousel/owl.carousel.js', 'data-turbolinks-track': 'reload' %>

    <!-- PAGELEVEL SCRIPTS -->
    <%= javascript_include_tag 'quote', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'contact', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'scripts', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" %>

    <!-- CORE CSS --> 
    <%= stylesheet_link_tag "bootstrap/css/bootstrap.min", media: 'all', 'data-turbolinks-track': 'reload'%>

    <!-- REVOLUTION SLIDER -->
    <%= stylesheet_link_tag "slider.revolution/css/extralayers", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "slider.revolution/css/settings", media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- LAYER SLIDER -->
    <%= stylesheet_link_tag "slider.layerslider/css/layerslider", media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- THEME CSS -->
    <%= stylesheet_link_tag "essentials.css", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "layout.css", media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- PAGE LEVEL SCRIPTS -->
    <%= stylesheet_link_tag "red.css" %>
    <%= stylesheet_link_tag "header-1" %>

  </head>

  <body class="smoothscroll enable-animation">
    <div class="wrapper">
    <%= yield %>
  </body>

</html>
